
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


table {
    border-collapse: collapse;
    width: 85%;
    max-width: 900px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid #e65c00; /* Borda externa estilizada */
}

.titulo {
    font-size: 45px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*Formatação do cabeçalho e turno*/
th, .turno {
    background-color: #e65c00;
    color: #ffffff; 
    font-weight: bold;
    text-transform: uppercase;
}

/*Formatação das células*/
td {
    background-color: #ffffff;
    color: #444444;
}

/*Formatação das células*/
th, td {
    padding: 14px;
    text-align: center; 
    font-size: 0.95rem;
    width: 12.5%; 
    
}
/*Formatação das células*/
th, td, tr {
    border: 1px solid #dcdcdc;
}
