.titulo{
    text-align: center;
    color: blue;
    margin: auto;
    text-shadow: 2px 2px black;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.img{
    text-align: center;
    margin: auto;
}

.listas{
    text-align: center;
    margin: auto;
    font-size: 20px;
    list-style-position: inside;
}