
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.header-title {
    font-size: 36px;
    color: blue;
    margin: 0;
}

.contact-info p {
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
}


.products {
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.product-item {
    flex: 1;
    min-width: 300px;
    max-width: 350px;
    text-align: center;
}

.product-image {
    width: 100%;
    height: auto;
}

.description {
    text-align: center;
    font-size: 18px;
}